html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
}
.left{
	float:left;
	width:33%;
	height:100%;
	background:#3366FF;
}
.center{
	float:left;
	width:33%;
	height:100%;
	background:#33FFAD;
}
.right{
	float:left;
	width:34%;
	height:75%;
	background:#B5FF91;
}
.image{
	float:left;
	width:34%;
	height:25%;
	background:red;
	color:white;
	text-align: center;
	font-size:75%;
}